    @font-face {
        font-family: roboto;
        src: url(fonts/roboto/Roboto-Regular.ttf);
    }
    
    body {
        font-family: roboto;
        margin-right: 0px;
        margin-left: 0px;
        color: #555;
    }
    
    .modal-backdrop.am-fade {
        opacity: .5;
        transition: opacity .15s linear;
        &.ng-enter {
            opacity: 0;
            &.ng-enter-active {
                opacity: .5;
            }
        }
        &.ng-leave {
            opacity: .5;
            &.ng-leave-active {
                opacity: 0;
            }
        }
    }
    
    .container-fullwidth {
        max-height: 90px;
    }
    
    .headergrad {
   
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#686868+22,686868+29,60abf8+52,3097ff+62,7abcff+76,7abcff+77,182600+100 */
background: #686868; /* Old browsers */
background: -moz-linear-gradient(45deg,  #686868 22%, #686868 29%, #60abf8 52%, #3097ff 62%, #7abcff 76%, #7abcff 77%, #182600 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #686868 22%,#686868 29%,#60abf8 52%,#3097ff 62%,#7abcff 76%,#7abcff 77%,#182600 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #686868 22%,#686868 29%,#60abf8 52%,#3097ff 62%,#7abcff 76%,#7abcff 77%,#182600 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#182600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
    .navbar-brand{
          
         font-size: 28px;
         text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
         color: #9c8468;
         opacity: 0.3;
    }
    
    .controlbar {
        max-height: 30px;
        min-height: 25px;
    }
    
    .controlbargrad {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bababa+0,ffffff+0,c9c9c9+14,dbdbdb+31,bababa+88,c9c9c9+97,d1d1d1+100 */
        background: #bababa;
        /* Old browsers */
        background: -moz-linear-gradient(top, #bababa 0%, #ffffff 0%, #c9c9c9 14%, #dbdbdb 31%, #bababa 88%, #c9c9c9 97%, #d1d1d1 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #bababa 0%, #ffffff 0%, #c9c9c9 14%, #dbdbdb 31%, #bababa 88%, #c9c9c9 97%, #d1d1d1 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #bababa 0%, #ffffff 0%, #c9c9c9 14%, #dbdbdb 31%, #bababa 88%, #c9c9c9 97%, #d1d1d1 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#d1d1d1', GradientType=0);
        /* IE6-9 */
    }
    
    .sidenav {
        height: 100%;
        width: 23px;
        position: fixed;
        z-index: 1;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;
        top: 60px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+95,e1e1e1+99,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 95%, rgba(225,225,225,1) 99%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 95%,rgba(225,225,225,1) 99%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 95%,rgba(225,225,225,1) 99%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 */

        
    }
    
    .active {
        width: 250px;
    }
    
    .sidenav a {
        padding: 2px 2px 2px 2px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 0.3s;
        font-family: roboto;
    }
    
    .sidenav a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }
    
    .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px !important;
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }
    
    .navbar {
        margin-bottom: 0px;
    }
    
    .navbar-header > a {
        color: #F1F3F5;
    }
    
    .panelheading {
        color: #000000;
        padding-left: 30px;
        max-height: 30px;
        min-height: 25px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6d6d6+0,f2f2f2+44,d6d6d6+98,d6d6d6+98,898989+100,aaaaaa+100,000000+100 */
        background: rgb(214, 214, 214);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(214, 214, 214, 1) 0%, rgba(242, 242, 242, 1) 44%, rgba(214, 214, 214, 1) 98%, rgba(214, 214, 214, 1) 98%, rgba(137, 137, 137, 1) 100%, rgba(170, 170, 170, 1) 100%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(214, 214, 214, 1) 0%, rgba(242, 242, 242, 1) 44%, rgba(214, 214, 214, 1) 98%, rgba(214, 214, 214, 1) 98%, rgba(137, 137, 137, 1) 100%, rgba(170, 170, 170, 1) 100%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(214, 214, 214, 1) 0%, rgba(242, 242, 242, 1) 44%, rgba(214, 214, 214, 1) 98%, rgba(214, 214, 214, 1) 98%, rgba(137, 137, 137, 1) 100%, rgba(170, 170, 170, 1) 100%, rgba(0, 0, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
    }
    
    .panelprimary {
        width: 100%;
        height: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
        /* IE6-9 */
    }
    
    .flexy-menu {
        
        margin-right: 25px;
        margin-left: 0px;
    }
    
    
    .orange li:hover>a,
    .orange li.active a {
        background: #EF3D4A;
        color: #fff!important
    }

thead {
     border-radius: 22px;
    padding: 10px; 
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,3690f0+10,3690f0+10,3690f0+13,54a3ee+89,1e69de+100 */
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(54,144,240,1) 10%, rgba(54,144,240,1) 10%, rgba(54,144,240,1) 13%, rgba(84,163,238,1) 89%, rgba(30,105,222,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(54,144,240,1) 10%,rgba(54,144,240,1) 10%,rgba(54,144,240,1) 13%,rgba(84,163,238,1) 89%,rgba(30,105,222,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(54,144,240,1) 10%,rgba(54,144,240,1) 10%,rgba(54,144,240,1) 13%,rgba(84,163,238,1) 89%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

}

tbody {
     border-radius: 22px;
    background: #f6f6f6;
    padding: 10px; 
    border-style: solid;
    border-width: 1px;
}

 
tbody > tr:hover {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2eaf9+0,9fd8ef+102 */
background: rgb(194,234,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(194,234,249,1) 0%, rgba(159,216,239,1) 102%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(194,234,249,1) 0%,rgba(159,216,239,1) 102%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(194,234,249,1) 0%,rgba(159,216,239,1) 102%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2eaf9', endColorstr='#9fd8ef',GradientType=0 ); /* IE6-9 */

  
}

tbody tr.selected td {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2ff9b+0,e2ff9b+98,d3ff9b+100 */
background: rgb(226,255,155); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(226,255,155,1) 0%, rgba(226,255,155,1) 98%, rgba(211,255,155,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(226,255,155,1) 0%,rgba(226,255,155,1) 98%,rgba(211,255,155,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(226,255,155,1) 0%,rgba(226,255,155,1) 98%,rgba(211,255,155,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2ff9b', endColorstr='#d3ff9b',GradientType=0 ); /* IE6-9 */

}

.custpop{
    position: absolute;
    width: 300px;
    height: auto!important;
    visibility: hidden;
    margin: 0;
    border-radius: 0;
    padding: 12px 0;
    margin-top: 11px;
    background: #eee;
    z-index: 1000;
    border: 1px solid #000;
}

.show {
    display: block!important;
    visibility: visible;
}
