<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Angularjs</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="libs/jquery/jquery-2.2.2.js"></script>
    <script src="libs/angular/angular.js"></script>
    <link rel="stylesheet" href="libs/bootstrap-3.3.6-dist/css/bootstrap.css">
    <script src="libs/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-1.2.5.min.js"></script>
    <script src="libs/angular/bower-angular-route-master/angular-route.js"></script>
    <script src="libs/angular/angular-ui-router.js"></script>
    <script src="libs/angular/angular-cookies.js"></script>
    <script src="libs/angular-strap/angular-strap.js"></script>
    <script src="libs/angular-strap/angular-strap.tpl.js"></script>


 
    <link href="libs/kendoui/styles/kendo.common.min.css" rel="stylesheet">
    <link href="libs/kendoui/styles/kendo.rtl.min.css" rel="stylesheet">
    <link href="libs/kendoui/styles/kendo.default.min.css" rel="stylesheet">
    <link href="libs/kendoui/styles/kendo.dataviz.min.css" rel="stylesheet">
    <link href="libs/kendoui/styles/kendo.dataviz.default.min.css" rel="stylesheet">
    
    <script src="libs/kendoui/js/jszip.min.js"></script>
    <script src="libs/kendoui/js/kendo.all.min.js"></script>
    <script src="libs/components/uigrid.js"></script> 



    <script src="script/services/MasterService.js"></script>
    <script src="script/configAPI.js"></script>
    <script src="script/app.js"></script>
    <script src="script/route.js"></script>
    <script src="script/controllers/mainController.js"></script>
    <script src="script/controllers/menuController.js"></script>
    <script src="script/controllers/loginController.js"></script>
    <script src="script/controllers/homeController.js"></script>
    <script src="script/controllers/productController.js"></script>
    <script src="script/controllers/aboutController.js"></script>
    <script src="script/controllers/productDetailsController.js"></script>
    <script src="admin/script/controllers/twoFieldSubCategoryController.js"></script>
    <script src="script/components/components.js"></script>
    <script src="script/services/authenticationService.js"></script>
    <script src="script/services/productService.js"></script>
    <script src="admin/script/services/twoFieldMasterServices.js"></script>
    <script src="script/services/menuservice.js"></script>
    <link rel="stylesheet" href="custome.css">
</head>

<body ng-controller="mainController">
    <master-menu ng-if="location.path() !== '/login'"></master-menu>
    <div class="container-fluid">
        <c-header ng-if="location.path() !== '/login'"></c-header>
        <div class="panel panelprimary">
            <div class="panelheading">{{menuitem.title}}</div>
            <div class="panel-body">
                <div ui-view class="container">
                </div>
            </div>
        </div>
        <c-footer></c-footer>
    </div>
</body>

</html>
