 <div class="container-fluid">
    <div class="row">

        <product-grid class="col-sm-9 col-md-6"></product-grid>

        <div class="col-sm-3 col-md-6">
            <form name="pf" ng-submit="editSubCategory()">

                <p>Id      : {{Object.id}}          </p>
                <p>category: {{Object.category_id}} </p>

                <p>Description:
                    <br>
                    <input type="text" name="description" ng-model="Object.description" required></input>
                    <span style="color:red" ng-show="pf.description.$dirty && pf.description.$invalid">
                    <span ng-show="pf.description.$error.required">description color</span>
                    </span>
                </p>
                <p>Bundle:
                    <br>
                    <textarea name="bundle" ng-model="Object.bundle" required></textarea>
                    <span style="color:red" ng-show="pf.bundle.$dirty && pf.bundle.$invalid">
                    <span ng-show="pf.bundle.$error.required">bundle is required.</span>
                    </span>
                </p>
                <p>status:
                    <br>
                    <input type="number" name="status" ng-model="Object.status" required></input>
                    <span style="color:red" ng-show="pf.status.$dirty && pf.status.$invalid">
                    <span ng-show="pf.status.$error.required">status is required.</span>
                    </span>
                </p>
                <p>
                  <button class="btn btn-primary" type="submit" ng-disabled="!pf.$valid || !pf.$dirty">Edit</button>
                </p>
            </form>
        </div>
    </div>
</div>